.gridSkill {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 760px) {
  .gridSkill {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .gridSkill {
    display: flex;
    flex-direction: column;
  }
}
.flexSkill {
  display: flex;
  align-items: first baseline;
  gap: 12px;
}
.skillHeader {
  font-size: 28px;
  cursor: default;
  margin-bottom: 8px;
}
.skillDescription {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);
}
.skillsWrapper {
  padding: 32px 48px 0px;
}
.skillText {
  white-space: pre-line;
  max-width: 450px;
}
