main {
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(15, 22, 36);
  color: rgb(242, 245, 247);
}
.projects {
  box-shadow: rgba(80, 78, 78, 0.5) 3px 3px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
}
a {
  text-decoration: none;
  line-height: 30px;
  font-size: larger;
  display: block;
}
.containerProjects {
  width: 40%;
}
h1 {
  text-align: center;
}
